{% extends 'app/base.html' %}

{% block body %}
<input type="file" id="file">
<button id="testButton">押して♡</button>

<script>
$(() => {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#testButton').click(() => {
        console.log("Hello");
        var img = new FormData($('#file').prop('files')[0]);
        $.ajax('{% url 'media:post' %}', {
            type: 'POST',
            dataType: 'text',
            data: img,
            processData: false,
            contentType: false
        }).done((res) => {
            console.log(res);
        });
    });
});
</script>
{% endblock %}
