{% extends 'app/base.html' %}

{% block body %}
<div class="container" style="max-width:960px;">
  <div style="position:relative;max-width:100%;min-height:180px;)">

    <script>
    document.write('<img style="width:100%;min-height:180px;" src="http://' + location.hostname + '/static/article/default.jpg">');
    </script>

    <!--
    <img style="width:100%;min-height:180px;" src="/static/headers/{{tirac.header_img}}">
    -->
    <div style="position:absolute;bottom:0;left:0;width:100%;height:200px;background:#000;opacity:0.92"></div>
    <div style="position:absolute;bottom:0;left:0;width:100%;height:200px;display:table">
      <div style="float:left">
        <div style="width:150px;height:280px;margin-left:60px;">
          <img style="width:100%;" src="http://furyu.nazo.cc/twicon/{{user.username }}" class="circle responsive-img">
          <div style="position:absolute;width:230px;bottom:0;left:20px;height:120px;">
            <div style="padding-left:40px;position:relative;width:50%;float:left;box-sizing:border-box;height:60px;border-right:1px solid #666;color:#fff">
              Favorite
              <div style="position:absolute;bottom:0;left:50px">
                <script>
                document.write('<img src="http://'+location.hostname+'/static/img/ic_thumb_up_black_24px.png" style="margin-right:3px;">');
                </script>
                <span style="color:#00D80A">50</span>
              </div>
            </div>
            <div style="position:relative;width:44%;float:left;boz-sizing:border-box;height:60px;margin-left:6%;color:#fff;">
              Article
              <div style="position:absolute;bottom:0;left:10px">
                12
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top:60px;height:150px;padding-top:50px;padding-left:260px;color:#fff;line-height:30px;font-size:42px;font-weight:100">
        {{ user.profile.nickname }} {{ user.username }}<br>
        <span style="font-size:12px;">
          {{ user.username }}
        </span><br>
        <span style="font-size:16px;">
          {{ user.profile.bio|safe }}
        </span>
      </div>
    </div>

  </div>

  <div style="max-width:100%;margin-top:30px">
    <div style="width:100%;background:#383838;color:#fff;padding:30px;font-size:24px;">
      投稿した記事一覧
    </div>

  </div>

  {% for tirac in user.tirac_set.all %}
  <script>
  document.write('<div style="position:relative;max-width:100%;height:180px;background-image:url(' + 'http://' + location.hostname + '/static/article/default.jpg' + ');border:1px solid #6F6F6F">');
  </script>
    <div style="position:absolute;width:100%;height:100%;background:#000;opacity:0.92"></div>
    <div style="position:absolute;top:0;left:0;width:180px;height:180px;">
      <img style="width:100px;margin:40px;" src="http://furyu.nazo.cc/twicon/{{user.username }}" class="circle responsive-img">
    </div>
    <div style="position:absolute;top:0;left:180px;height:180px;color:#fff;padding:50px;padding-left:5px;">
      <div style="font-size:30px"><a href="{% url 'article:detail' tirac.id %}" style="color:white;">{{ tirac.subject }}</a></div>
      <div style="font-size:14px;margin-top:10px;"><span style="font-weight:100">Written by </span>{{ user.username }}</div>
    </div>
    <div style="position:absolute;top:0;right:0;color:#fff;padding:10px;font-size:12px;">
      {% for t in tirac.settag_set.all %}
      <a href="{% url 'article:tag' t.tag.tagname %}">#{{ t.tag.tagname }}</a>
      {% endfor %}
    </div>
    <div style="position:absolute;bottom:0;right:0;color:#00D80A;font-size:14px;padding:10px;padding-right:20px;">
      <script>
        document.write('<img src="http://'+location.hostname+'/static/img/ic_thumb_up_black_24px.png" style="margin-right:3px;">5');
      </script>

    </div>
  </div>
  {% endfor %}


  <h5>{{ user.profile.nickname }} <small class="grey-text lighten-4">{{ user.username }}</small></h5>
  <p>{{ user.profile.bio|safe }}</p>

</div>
{% endblock %}
