html{width:100%;height:100%}
body{
  width:100%;height:100%;
  background-image:url("background_image.png");
  background-size:cover;
}

.red-back{
  position:fixed;
  top:0;
  left:0;
  mix-blend-mode:multiply;
  background:#E41D28;
  height:100%;
  width:45%;
  opacity: 0.8;
}

.normal-back{
  position:fixed;
  top:0px;
  right:0;
  height:100%;
  width:55%;
  vertical-align: middle;
  text-align:center;
  display: table-cell;
}

.login-box{
  width:300px;
  height:500px;
  margin:auto;
  margin-top:150px;
  background:#fff;
  padding:10px;
}

#mailaddress{
  width:80%;
}
#password{
  width:80%;
}

.img-back{
  position:fixed;
  top:60px;
  height:100%;
  width:60%;
  vertical-align: middle;
  text-align:center;
  display: table-cell;
}

.footer-fix{
  position:fixed;
  width:100%;
  left: 0;
  bottom: 0;
}
