<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow, noarchive">
    <title>pressto -早くわかる 早くつくる  早くひろげる 音楽知識共有サービス-</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
    document.write('<link rel="shortcut icon" href="http://'+location.hostname+'/static/img/favicon.ico">');
    </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<!--
<script src="http://localhost/static/module/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="http://localhost/static/module/materialize.min.css">
<script src="http://localhost/static/module/materialize.min.js"></script>
-->
<script>
document.write('<link rel="stylesheet" href="http://'+ location.hostname +'/static/all.css">');
</script>
    {% block style %}
    {% endblock %}
</head>






<!-- ///////////////////以下OGP/////////////////////// -->






<!-- ///////////////////OGPここまで/////////////////////// -->

<body>
{% block index %}
{% endblock %}
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'article:create' %}" class="hide-on-med-and-down">
                <div class="btn">新しい記事を書く</div>
            </a>
            <script>
            document.write('<a href="/article" class="brand-logo center"><img src="http://' + location.hostname +'/static/img/header_logo.png" style="margin-top:11px;"></a>');
            </script>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                <li><a href="" class="dropdown-button" data-activates="dropdown-user">
                    <div class="chip">
                        <img src="http://furyu.nazo.cc/twicon/{{ request.user.username }}" alt="Contact Person">
                        {{ request.user.username }}
                    </div>
                </a></li>
                <ul class="dropdown-content" id="dropdown-user">
                    <li><a href="{% url 'myauth:detail' request.user.username %}">プロフィール</a></li>
                    <li><a href="{% url 'myauth:setting' %}">設定</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'myauth:logout' %}">ログアウト</a></li>
                </ul>
                {% else %}
                <li><a href="{% url 'social:begin' 'twitter' %}">Twitterログイン</a></li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{% url 'article:create' %}">新しい記事を書く</a></li>
                {% if request.user.is_authenticated %}
                <li class="no-padding"><ul class="collapsible collapsible-accordion"><li>
                    <a class="collapsible-header">
                        {{ request.user.username }}
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#">プロフィール</a></li>
                            <li><a href="#">設定</a></li>
                            <li><a href="{% url 'myauth:logout' %}">ログアウト</a></li>
                        </ul>
                    </div>
                </li></ul></li>
                {% else %}
                <li><a href="{% url 'social:begin' 'twitter' %}">Twitterログイン</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% if request.user.is_authenticated %}
    <ul id="dropdown-user" class="dropdown-content">
        <li><a href="{% url 'myauth:setting' %}">設定</a></li>
        <li><a href="{% url 'myauth:logout' %}">ログアウト</a></li>
    </ul>
    {% endif %}
    <main>
    {% block body %}
    {% endblock %}
  </main>

  <footer class="page-footer{% if request.path == '/' %} footer-fix{% endif %}">
      <div class="container">
        <div class="copyright center">© 2017 Copyright pixiv spring intern 2017</div>
      </div>
  </footer>

  <script>
  $(".button-collapse").sideNav();
  </script>
</body>
</html>
