<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow, noarchive">
    <title>Test</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <style>
    .collapsible-body {
        padding: 0;
    }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper" style="background-color:rgb(20,35,43);">
            <a href="/" class="brand-logo center">pressto</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                <li><a href="" class="dropdown-button" data-activates="dropdown-user">
                    <div class="chip">
                        <img src="http://furyu.nazo.cc/twicon/{{ request.user.username }}" alt="Contact Person">
                        {{ request.user.username }}
                    </div>
                </a></li>
                <ul class="dropdown-content" id="dropdown-user">
                    <li><a href="{% url 'myauth:detail' request.user.username %}">プロフィール</a></li>
                    <li><a href="{% url 'myauth:setting' %}">設定</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'myauth:logout' %}">ログアウト</a></li>
                </ul>
                {% else %}
                <li><a href="{% url 'social:begin' 'twitter' %}">Twitterログイン</a></li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
                {% if request.user.is_authenticated %}
                <li class="no-padding"><ul class="collapsible collapsible-accordion"><li>
                    <a class="collapsible-header">
                        {{ request.user.username }}
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#">プロフィール</a></li>
                            <li><a href="#">設定</a></li>
                            <li><a href="{% url 'myauth:logout' %}">ログアウト</a></li>
                        </ul>
                    </div>
                </li></ul></li>
                {% else %}
                <li><a href="{% url 'social:begin' 'twitter' %}">Twitterログイン</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% if request.user.is_authenticated %}
    <ul id="dropdown-user" class="dropdown-content">
        <li><a href="{% url 'myauth:setting' %}">設定</a></li>
        <li><a href="{% url 'myauth:logout' %}">ログアウト</a></li>
    </ul>
    {% endif %}

    {% block body %}
    {% endblock %}

    <script>
    $(".button-collapse").sideNav({
        draggable: true
    });
    </script>
</body>
</html>
