{% extends 'app/base.html' %}
{% block style %}
<script>
document.write('<link rel="stylesheet" href="http://'+ location.hostname +'/static/index/index.css">');
</script>
{% endblock %}


{% block index %}

<div class="img-back">
  <script>
  document.write('<img style="max-width:90%;margin-top:20px" src="http://'+ location.hostname +'/static/index/title_copy.png">');
  </script>
</div>
<div class="normal-back">
  <div class="login-box">
    <script>
    document.write('<img src="http://'+ location.hostname +'/static/index/login_frame2x.png">');
    </script>
  </div>
</div>
{% endblock %}

{% block body %}
{% endblock %}
