html {
  height: 100%;
}

body {
  background: #2A2A2A;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background: #E41D28;
  margin-bottom: 15px;
}

nav .nav-wrapper {
  height: 59px;
  background-color: #13232B;
}

nav .nav-wrapper .btn {
  background: #E41D28;
  margin-left: 10px;
}

footer.page-footer {
  margin-top: 30px;
  padding: 0;
  background: #E41D28;
}

.collapsible-body {
  padding: 0;
}

.copyright {
  font-size: 18px;
  line-height: 36px;
  color: #fff;
}
