{% extends 'app/base.html' %}

{% block style %}
<script>
document.write('<link rel="stylesheet" href="http://'+ location.hostname +'/static/article/create/markdown.css">');
document.write('<script src="http://'+ location.hostname +'/static/article/detail/iine.js"><\/script>');
</script>

{% endblock %}

{% block body %}
<div class="container" style="max-width:960px">
    <div style="position:relative;max-width:100%;min-height:180px;)">
      <img style="width:100%;min-height:180px;" src="http://localhost/static/article/default.jpg">
      <!--
      <img style="width:100%;min-height:180px;" src="/static/headers/{{tirac.header_img}}">
      -->
      <div style="position:absolute;bottom:0;left:0;width:100%;height:150px;background:#000;opacity:0.92"></div>
      <div style="position:absolute;bottom:0;left:0;width:100%;height:150px;display:table">
        <div style="float:left">
          <a href="{% url 'myauth:detail' tirac.user.username %}">
              <img style="width:100px;margin:24px;" src="http://furyu.nazo.cc/twicon/{{ tirac.user.username }}" class="circle responsive-img">
          </a>
        </div>
        <div style="float:left;height:150px;line-height:150px;color:#fff;font-size:42px;font-weight:100">
        {{ tirac.subject }}
        </div>
        <div style="float:right;margin:5px;color:#fff;">日時</div>
        <button id="iine" class="btn waves-effect waves-light" style="float:right;">いいね
            <i class="material-icons right">send</i>
        </button>
        <div style="display:none;">
            <p id="user_id">{{ request.user.id }}</p>
            <p id="tirac_id">{{ tirac.id }}</p>
        </div>
      </div>
      <div style="position:absolute; bottom:26px; left:148px;color:#fff;font-size:14px;">
        <span style="font-weight:100">Written by</span>　{{ tirac.user.username }}
      </div>
    </div>
    <div class="markdownContent" style="color:#fff;background:#383838;border:1px solid #6F6F6F;border-top:0;padding:20px;border-bottom:22px solid #E41D28">
      {{ tirac.md|safe }}
    </div>
    <p id="tags">タグ: 
        {% for tag in tirac.settag_set.all %}
        <span>{{ tag.tag.tagname }}</span>
        {% endfor %}
    </p>

    <div style="font-size:26px;color:#fff;margin:60px 0px 30px 0px;">COMMENT</div>
    {% for comment in tirac.comment_set.all %}
    <div style="width:100%;min-height:140px;background:#383838;border:1px solid #6F6F6F;">
      <div style="position:relative;margin:0;width:100%">
        <div style="width:100%;height:60px;background:#081115;padding-left:130px;line-height:60px;color:#fff;">
          <div class="left">
            {% url 'myauth:detail' comment.user.username %}
          </div>
          <div class="right" style="margin-right:30px;">
            日時
          </div>
        </div>
        <div style="height:100%;padding:5px 5px 5px 130px;color:#fff;">
          <p>{{ comment.text }}</p>
        </div>
        <div style="position:absolute;top:18px;left:20px;">
              <a href="{% url 'myauth:detail' comment.user.username %}">
                  <img style="width:70px" src="http://furyu.nazo.cc/twicon/{{ comment.user.username }}" class="circle responsive-img">
              </a>
        </div>
      </div>
    </div>
    {% endfor %}

    {% if error %}{{error}}{% endif %}
    <form action="{% url 'article:comment' tirac.id %}" method="post">
        {% csrf_token %}
        <div class="input-field">
            <textarea id="text" name="text" class="materialize-textarea"></textarea>
            <label for="text">コメント</label>
        </div>
        <button type="submit" name="action" class="btn waves-effect waves-light">コメントする</button>
    </form>

    <div class="row">

    </div>
</div>

{% if message %}
<script>
Materialize.toast("{{message}}", 3000);
</script>
{% endif %}
{% endblock %}
