{% extends 'app/base.html' %}

{% block body %}
<div class="container">
    {% if tirac_list %}
    <div class="row">
        {% for tirac in tirac_list %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content">
                    <p class="card-title">
                        <a href="{% url 'article:detail' tirac.id %}">{{ tirac.subject }}</a>
                    </p>
                    <p class="truncate">{{ tirac.body|safe }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
